body {
  margin: 20px 20px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 46px;
}

h2 {
  font-family: "Otomanopee One", sans-serif;
  font-size: 34px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
}

p {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  margin: 10px 0 0 0;
}

#degrees-celsius,
#degrees-fahrenheit {
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: black;
}

.btn {
  padding: 5px 23px;
  font-size: 18px;
}

.card {
  display: block;
  margin: 0 10px 19px 0;
  padding: 0 0 0 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.forecast-week h3 {
  font-size: 24px;
  position: relative;
  top: 13px;
}

.forecast-week h4 {
  font-size: 26px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 13px;
}

.forecast-week img {
  width: 55px;
  display: block;
  margin: 0 auto;
  padding: none;
}

.today img {
  width: 200px;
  display: block;
  position: relative;
  top: -13px;
}

h4:first-letter {
  text-transform: capitalize;
}

#date {
  line-height: 40px;
}

#weather-description {
  position: relative;
  top: -6px;
}

#footer {
  margin-top: 0;
  font-size: 16px;
}
